html{
    background-image: url(images/sport.jpg);
}
h1{
    text-align: center;
    border: 4px solid blue;;
    background-color: black;
    color: beige;
    margin: 0;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: dimgrey;
    border-bottom: 4px solid red;
}
li{
    float: left;
}
li a{
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: large;
    font-weight: bolder;
}
#htp a:hover{
    background-color: blue;
}
.btn {
  background-color: blue;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.btns{
    margin-left: 30%;
}
.btn:hover {
    background-color: gray;
}
.bottomlayer{
    z-index: 1;
    position: absolute;
    top: 28%;
    left: 30%;
    margin-bottom: 4%;
}
.bottomlayer #blayer img{
    height: 600px;
    width: 600px;
}
.middlelayer{
    z-index: 2;
    position: absolute;
    display: grid;
    grid-template-columns: auto auto auto auto;
    top: 28%;
    left: 30%;
    margin-bottom: 4%;
    /*background-color: black;*/   
}
.items{
    border: 1px solid red;    
    text-align: center;
}
.items img{
    height: 150px;
    width: 150px;
}
.item{
    border: 1px solid red;    
    text-align: center;
}
.item img{
    height: 150px;
    width: 150px;
}
.toplayer{
    z-index: 3;
    position: absolute;
    display: grid;
    grid-template-columns: auto auto auto auto;
    top: 28%;
    left: 30%;
    margin-bottom: 4%;
    /*background-color: black;*/ 
}
.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: aqua;
   text-align: center;
    color: black;
}